body{
    background-color: rgb(17, 18, 21);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:  sans-serif;
    padding-top: 50%;
    padding-bottom: 50%;
    
}